/*  Remove table CSS Begin */
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    tr { border: 1px solid #ccc; }
 
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
    }
 
    td:before { 
        /* Now like a table header */
        position: absolute;
 
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
 
    /*
    Label the data
    */
    /*td:before { content: attr(data-title); }*/
}

/*  Remove table CSS End */


/* Drop Columns table CSS Begin */
/* @media only screen and (max-width: 800px) {
    table td:nth-child(3), 
    table th:nth-child(3), 
    table td:nth-child(4), 
    table th:nth-child(4), 
    table td:nth-child(5), 
    table th:nth-child(5) 
        {display: none;}
}*/
/* Drop Columns table CSS End */