   
<div id="loginDiv" style="width:450px; margin:0px auto; margin-top:10%; border:1px solid #ccc; background-color:#FBFBFB; text-align:center!important; padding:20px;">
    <h1 style="width:100%; color:#3B80FD;">MA Queue</h1>
<h5 style="font-weight:bold;">LOGIN</h5>
    <p>Please login with your Dashboard username and password.</p><br />
    <!--<input id="txt_username"
           type="text" class="form-control input-lg"
           placeholder="Username"
           autofocus
           onkeydown=" if (event.keyCode === 13) document.getElementById('btnSubmitLogin').click(); " /><br />-->
    <input type="text" class="form-control input-lg" ng-model="username" placeholder="Username" autofocus><br/>
    <!--<input id="txt_password"
           type="password" class="form-control input-lg"
           placeholder="Password"
           onkeydown=" if (event.keyCode === 13) document.getElementById('btnSubmitLogin').click(); " /><br />-->
    <input type="password" class="form-control input-lg" ng-model="password" ng-enter="SignIn(username,password)" placeholder="Password" autofocus><br/>
    <p id="errorMsg" style="color: #f00; font-weight: bold; visibility: hidden;"></p>
    <button style="width:100%" id="btnSubmitLogin"
            type="submit"
            class="btn btn-success btn-lg"
             ng-click="SignIn(username,password)" >
        Login
        <span id="spinner" class="fa fa-spinner fa-spin spinner" style="display: none;"></span>
    </button>
</div>
