<div>
	<!-- Left Menu -->
	<div class="wrapper">
		<div class="sidebar-wrapper">
			<patientinfo-component></patientinfo-component>
			<div class="menu-bar">
				<div class="clearfix">
					<a class="pull-left" href="">
						<h6>Priority Information</h6>
					</a>
					<a class="pull-right" href=""><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="">
						<h6>Subjective</h6>
					</a>
					<a class="pull-right" href=""><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="">
						<h6>Vitals</h6>
					</a>
					<a class="pull-right" href=""><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="">
						<h6>Orders</h6>
					</a>
					<a class="pull-right" href=""><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="">
						<h6>Tests</h6>
					</a>
					<a class="pull-right" href=""><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="">
						<h6>Labs</h6>
					</a>
					<a class="pull-right" href=""><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="" ng-click="navModel.probChangeExpand();">
						<h6>Problems</h6>
					</a>
					<a class="pull-right" href="" ng-click="navModel.probChangeExpand();"><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="" ng-click="medChangeExpand();">
						<h6>Medications</h6>
					</a>
					<a class="pull-right" href="" ng-click="medChangeExpand();"><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<a class="pull-left" href="">
						<h6>Physical Exam</h6>
					</a>
					<a class="pull-right" href=""><span class="fa fa-arrow-circle-right fa-2x"></span></a>
				</div>
				<div class="clearfix">
					<!-- <qa-component count="qaModel.count"></qa-component> -->
				</div>
			</div>
		</div>
	</div>
</div>