/*@import "responsive.css";*/


@keyframes glowing {
  0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
  50% { background-color: #00fa9a; box-shadow: 0 0 10px #00fa9a; }
  100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}



body {
    margin: 1rem;
    font-family:"helvtica", Arial, sans-serif!important;
    color: #333;
    background-color:#E7E9EC;
}


/* card styles start */
.card {
    width:100%; 
 /*   border: 2px solid #132951;*/
    margin: 1rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}
.card-header {
    color:#333; 
 /*   line-height:48px; */
    padding: 10px; 
    display:block; 
    font-weight: bold;
    
    text-transform: uppercase;
    background-color:#fff; 
 /*   border-bottom: 2px solid #132951;*/

}
.card-header-title { 
    font-size: 14px;
    /*font-weight:bold;*/
}

.card-content {
    color:#666; 
 /*   line-height:48px; */
    padding: 10px; 
    display:block; 


}


/* card styles End */

/* table styles */

.table thead tr th {
    border-bottom: 2px solid #333;
}
.table tbody tr td {
    border-bottom: 1px solid #ddd;
}

