<div id="carePro" ng-if="careProModel.primaryComponentAvailable;">
	<div class="sidebar-wrapper background-sidebar-color">
		<div class="">
			<patientinfo-component title-header={{careProModel.title}}></patientinfo-component>

		</div>
		<sidenav-component></sidenav-component>
	</div>
	<div class="page-content">
		<div class="wrap-components background-white">
			<div class="container-fluid">
				<section id="vitalsSection">
					<vitalsadd-component></vitalsadd-component>
				</section>
			</div>
		</div>
	</div>
</div>

<div ng-if="!careProModel.primaryComponentAvailable;" id="errorDiv" ng-if="careProModel.showErrorPage">
	<errorpage-component></errorpage-component>
</div>